body {
	background: #fff url(images/bg.png) top left repeat-x;
}
#nav_container {
	padding-top: 25px;
	position: relative;
}
ul.nav {
	height: 59px;
	width: 100%;
	list-style: none;
	margin: 0px;
	padding: 0px;
	background: #fff url(images/menu-bg.png) top left repeat-x;
	border-left: 1px solid #babcbe;
	border-right: 1px solid #babcbe;
}
ul.nav li a {
	float: left;
	display: block;
	height: 59px;
	text-indent: -1999px
	overflow: hidden;
}
ul.nav li a#btn-home {
	margin-left: 15px;
	width: 99px;
	background: transparent url(images/menu-home.png) 0px 0px no-repeat;
}
ul.nav li a#btn-blog {
	width: 84px;
	background: transparent url(images/menu-blog.png) 0px 0px no-repeat;
}
ul.nav li a#btn-faq {
	width: 71px;
	background: transparent url(images/menu-faq.png) 0px 0px no-repeat;
}
ul.nav li a#btn-contact_us {
	width: 132px;
	background: transparent url(images/menu-contact_us.png) 0px 0px no-repeat;
}
ul.nav li a#btn-order_now {
	width: 119px;
	background: transparent url(images/menu-order_now.png) 0px 0px no-repeat;
}
ul.nav li a:hover {
	background-position: 0 -59px !important;
}
ul.nav li.last {
	text-align: right;
}
#nav-ribbon {
	position: absolute;
	background: transparent url(images/menu-ribbon.png) top left no-repeat;
	width: 100px;
	height: 53px;
	z-index: 10px;
	top: 8px;
	margin-left: 872px;
}
.box {
	background-color: #fff;
	border: 1px solid #babcbe;
}
.splash {
	background-color: #fff;
	border-right: 1px solid #babcbe;
	border-left: 1px solid #babcbe;
	border-bottom: 1px solid #babcbe;
}
#splash-label {
	position: relative;
	background: transparent url(images/splash-label.png) 0px 0px no-repeat;
	display: block;
	width: 372px;
	height: 86px;
	left: 30px;
	top: 15px;
}
#splash-arrow {
	position: relative;
	left: 30px;
}
#splash-order_now {
	position: relative;
	top: 6px;
	left: 120px;
}
#photo-hcg {
	width: 340px;
	height: 393px;
	background: transparent url(images/photo-hcg.jpg) 0px 0px no-repeat;
}
div.order_item_arrow {
	position: relative;
	left: 30px;
	width: 580px;
	height: 155px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: transparent url(images/order-item_bg.png) 0px 0px no-repeat;
}
div.order_item_contents {
	position: relative;
	left: 80px;
	top: 7px;
	width: 435px;
	height: 118px;
}
div.order_item_contents .img {
	position: absolute;
	top: 0px;
	left: 0px;
}
div.order_item_contents .title {
	position: absolute;
	left: 140px;
	font-weight: bold;
	font-size: 1.6em;
	color: #1d498c;
}
div.order_item_contents .description {
	position: absolute;
	top: 30px;
	left: 145px;
	width: 290px;
	height: 55px;
	overflow: hidden;
}
div.order_item_contents .price {
	position: absolute;
	top: 91px;
	left: 135px;
	width: 80px;
	height: 25px;
	font-size: 1.3em;
	line-height: 1.3em;
	text-align: center;
}
div.order_item_contents .price span.old {
	text-decoration: line-through;
	font-style: italic;
	color: #666;
}
div.order_item_contents .price span.new {
	font-weight: bold;
	font-size: 1.5em;
	color: #990000;
}
div.order_item_contents .button {
	position: absolute;
	top: 93px;
	left: 220px;
	width: 218px;
	height: 45px;
}
.top_bottom_pad {
	padding: 10px 0 0 0;
}
.twenty_pad {
	padding: 20px;
}
dl.faq dt {
	font-size: 1.4em;
	color: #3a6b9b;
}
dl.faq dd {
	padding: 5px 0 15px 0;
}
